#banner
  .banner_content
    %h1 Document Cabinet
    %p Organize Your Documents!
    %b= link_to "Enter", new_user_registration_path

#callouts
  .callour_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %p Lorem ipsum dolor amet hexagon hot chicken etsy tacos lo-fi pop-up. Truffaut jean shorts iPhone, thundercats tattooed air plant taiyaki forage godard hella next level williamsburg mustache prism. Direct trade sartorial fashion axe glossier VHS bitters. 90's four dollar toast subway tile pabst, austin quinoa irony tbh offal glossier gastropub wayfarers flannel unicorn sartorial. Bespoke XOXO tote bag flannel cardigan iPhone. Master cleanse air plant hashtag venmo unicorn cronut. Taiyaki lomo fixie, messenger bag fam cred adaptogen viral selfies ramps. YOLO organic bitters taxidermy blog, synth squid irony hell of umami la croix fashion axe meggings wayfarers franzen. Portland pickled master cleanse celiac cardigan bushwick tattooed heirloom. Jean shorts selvage mustache lo-fi banh mi cred, jianbing 8-bit tilde mlkshk brunch readymade ugh sustainable enamel pin. Raclette tumblr stumptown fam craft beer viral cloud bread fixie man braid.
        %p Heirloom squid venmo, pork belly bespoke vexillologist vaporware hashtag viral. Fam whatever copper mug art party, bespoke unicorn etsy food truck. Fanny pack plaid brooklyn mumblecore four loko offal. Chia woke VHS pug. YOLO sriracha subway tile aesthetic, prism 90's tacos freegan mixtape green juice pop-up man braid chicharrones kitsch pickled.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %b= link_to ("Join Now"), new_user_registration_path