$dark_gray: #2e3440;
$light_gray: #c0c1c1;
$green: #529ecc;

@mixin bold_font {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 4rem;
  font-family: "Dosis", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

// BUTTON STYLING

b,
.button {
  border: none;
  outline: none;
  background: $green;
  padding: 1rem 3.5rem;
  border-radius: 0.1rem;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}
b:hover {
  background: white;
  border: 1px solid $green;
  cursor: pointer;
  a {
    color: $green;
  }
}
// b,
// .button {
//   border: none;
//   outline: none;
//   background: $green;
//   padding: 1rem 3.5rem;
//   border-radius: 0.1rem;
//   a {
//     color: white;
//     text-decoration: none;
//     font-weight: bold;
//   }
//   &:hover {
//     color: $green;
//     background: white;
//     border: 1px solid $green;
//     cursor: pointer;
//   }
// }
b,
.button {
  color: white;
  margin: 2rem 0;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    color: $green;
  }
  &:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid $green;
  }
}
b,
a {
  color: $green;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

// HEADER STYLING

header {
  background: #529ecc;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 1.5px solid #376490;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      width: 10rem;
      float: left;
      font-weight: bold;
      color: white;
      font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 2rem;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        line-height: 1.5;
        margin-left: 1rem;
        &:hover {
          color: $light_gray;
          cursor: pointer;
        }
      }
    }
  }
}
