.form-actions {
  margin: 10px 0;
  input.btn {
    color: #529ecc;
    padding: 8px 36px;
    background-color: white;
    box-shadow: none;
    border: 2px solid #529ecc;
    border-radius: 3px;
  }
}
