.form-actions {
  margin: 10px 0;
  input.btn {
    color: white;
    padding: 8px 36px;
    background-color: #529ecc;
    box-shadow: none;
    border: 2px solid white;
    border-radius: 3px;
  }
  input.btn:hover {
    color: #529ecc;
    background-color: white;
    border: 2px solid #529ecc;
    cursor: pointer;
  }
}

footer {
  background: #529ecc;
  width: 100%;
  padding: 2rem 0;
  color: white;
  text-align: center;
  @include bold_font;
  p {
    margin: 0;
    font-size: 0.65rem;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: 0.4rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}
